body {
    font-family: monospace;
  }
  
  .weather-app {
    border: 1px solid #0f67d9;
    padding: 25px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(242, 235, 243) 0%,
      rgb(234, 241, 249) 90.1%
    );
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    text-align: center;
  }
  
  .week {
    text-align: left;
  }
  
  img {
    width: 100px;
    margin: 0 auto;
    display: block;
    transition: ease-in-out;
    margin-top: 50px;
  }
  
  img:hover {
    opacity: 0.8;
  }
  
  .smaller-image {
    width: 50px;
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  
  .city {
    text-align: right;
  }
  
  h1,
  h2,
  p {
    text-align: right;
  }
  
  p {
    font-size: 15px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  button {
    background: #0f67d9;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    color: white;
    margin-top: 10px;
    padding: 10px;
    transition: ease-in-out;
  }
  